.banner-home{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 38px;

     @media only screen and (min-device-width : 320px) and (max-device-width: 1024px){
        margin-bottom: 19px;
        
        }
    

    .banner-img{
        width: 80%;
        height: 223px;
        object-fit: cover;
        border-radius: 25px;
        filter: brightness(70%);
        @media only screen and (min-device-width : 320px) and (max-device-width: 1024px){
        height: 223px;
        border-radius: 10px;
        
        }
        
    }

    .banner-title{
        position: absolute;
        color: $whiteColor;
        font-weight: 500;
        font-family: $fontBase;
        font-size: 48px;
        z-index: 1;
        @media only screen and (min-device-width : 320px) and (max-device-width: 736px){
            font-size: 24px;
            width: 58%;
        
        }
        @media only screen and (min-device-width : 737px) and (max-device-width: 1024px){
            font-size: 34px;
        }
    }
}


