.contenair-card {
  background-color: $greyBack;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 25px;
  margin: 0 auto;
  gap: 50px;
  padding: 50px;
 
}

.card {
    position: relative;
    width: 28%;
    height: 340px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    .filter-card {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    }

  .title-card {

    position: absolute;
    bottom: 0px;
    padding: 10px;

     h2 {
        font-size: 18px;
        color: $whiteColor;
     }

     p {
        font-size: 14px;
        color: $whiteColor;
     }
  }

  img {
    z-index: 0;
    width: 100%;
    height: 340px;
    background-size: cover;
    background-position: center;
  }

  
    

    
  }

.Flexcontent {
  display: flex;
  justify-content: center;
  align-items: center;
  
}