//style général

body {
    min-width: 335px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}