.topbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: auto;
  gap: 30px;

  @media only screen and (min-device-width : 320px) and (max-device-width: 736px){
    width: 80%;
  }
  .topbar-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $primRed;
    border-radius: 5px;
    height: 52px;

    align-items: center;

    .text-style {
      color: $whiteColor;
      font-size: 24px;
      margin: 3px;
      margin-left: 13px;
      font-family: $fontBase;
    }

    .arrow-icon {
      width: 32px;
      height: 32px;
      margin-right: 20px;
      transition: transform 0.5s ease;
      cursor: pointer;
    }
  }
  .arrow-icon.open {
    transform: rotate(180deg);
  }
}

.container-collapse {
  background: var(--gray, #f6f6f6);
  color: $primRed;
  margin-top: 0;
  border-radius: 5px;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  transform-origin: top;
  transform: scaleY(0);
}

.container-collapse.active {
  max-height: 1000px;
  padding: 20px;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  transform-origin: top;
  transform: scaleY(1);
}
ul {
  margin-top: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
