.carrousel-container {
    height: 415px;
    border-radius: 25px;
    display: flex;
    position: relative; 
    margin: auto;
    width: 80%;
  }
  
  .leftButton,
  .rightButton {
    border: none;
    background: transparent;
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    padding: 18px;
    z-index: 1; 
    cursor: pointer;
  }
  
  .leftButton {
    left: 0; 
  }
  
  .rightButton {
    right: 0; 
  }
  
  .img-carrousel {
    width: 100%;
    border-radius: 25px;
    margin: 45px 0px 0px 0px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 21pc;
    filter: brightness(80%);
  }

 
  